body{
    background-color: rgba(255, 255, 255, 0.932);
    background-repeat: no-repeat;
    text-align: center;
    position: fixed;
    background-size: cover;
    margin:0;
    padding:0;

}

.container{
    margin-top: 10vw;
    background-color: rgb(81, 87, 94);
    width: 50vw;
    border-radius:10px ;
    font-size: 23px;
}
footer {
    text-align: center;
    color: rgb(49, 49, 32);
    padding: 10px;
    position:fixed;
    bottom: 0%;
    width: 100%;
    font-weight: bold;
    background-color:rgb(233, 235, 236);
    
}