body{
    background-repeat: no-repeat;
    text-align: left;
    position: relative;
    background-size: cover;
    margin:0;
    padding:0;
}    
nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
    text-align:right;
}
nav ul li{
    display: inline;
    padding: 5px;
    margin-right: 20px;
    
}   
nav ul li a {
    list-style: none;
    text-decoration: none;
    color:rgb(7, 8, 6);
}
.main-content{
    text-align: center;
    padding: 50px;
    font-weight: bold;
    color:rgb(20, 8, 8);
}
footer {
    text-align: center;
    color: rgb(49, 49, 32);
    padding: 10px;
    position:fixed;
    bottom: 0%;
    width: 100%;
    font-weight: bold;
    background-color:rgb(233, 235, 236);
    
}